<ion-header-bar class="bar-assertive">
    <h1 class="title">ControlView</h1>
    <div class="buttons">
        <button class="button icon-right ion-chevron-right  button-clear" ng-click="newBuildingSite()">New work</button>
    </div>
</ion-header-bar>
<ion-content>
    <div class="list">
        <div class="item item-divider">
            Obras
        </div>
        <a class="item item-icon-left" href="javascript:;" ng-repeat="itemw in works" ng-click="addData(itemw.id)">
            <i class="icon ion-ios7-gear"></i>
            {{itemw.name}}
            <span class="badge badge-assertive"><i class="ion-arrow-right-c"></i>
            </span>
        </a>
        <div class="item item-divider">
            Otros
        </div>
        <a class="item item-icon-left" href="#/map">
            <i class="icon ion-android-locate"></i>
            Mi Posición
            <span class="badge badge-assertive"><i class="ion-arrow-right-c"></i>
            </span>
        </a>

    </div>
</ion-content>
